@import "tailwindcss";

@theme {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-dm-mono: 'DM Mono', monospace;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans), 'DM Sans', sans-serif;
}

@utility animate-fade-in-out {
  animation: fadeInOut 5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
  }
  10% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  90% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
  }
}
